include/SDL3 symlink=dir
src/atomic symlink=dir
src/audio symlink=dir
src/camera symlink=dir
src/core symlink=dir
src/cpuinfo symlink=dir
src/dialog symlink=dir
src/dynapi symlink=dir
src/events symlink=dir
src/filesystem symlink=dir
src/gpu symlink=dir
src/haptic symlink=dir
src/hidapi symlink=dir
src/io symlink=dir
src/joystick symlink=dir
src/libm symlink=dir
src/loadso symlink=dir
src/locale symlink=dir
src/main symlink=dir
src/misc symlink=dir
src/power symlink=dir
src/process symlink=dir
src/render symlink=dir
src/sensor symlink=dir
src/stdlib symlink=dir
src/storage symlink=dir
src/test symlink=dir
src/thread symlink=dir
src/time symlink=dir
src/timer symlink=dir
src/tray symlink=dir
src/video/android symlink=dir
src/video/cocoa symlink=dir
src/video/dummy symlink=dir
src/video/emscripten symlink=dir
src/video/gdk symlink=dir
src/video/haiku symlink=dir
src/video/kmsdrm symlink=dir
src/video/n3ds symlink=dir
src/video/ngage symlink=dir
src/video/offscreen symlink=dir
src/video/openvr symlink=dir
src/video/ps2 symlink=dir
src/video/psp symlink=dir
src/video/qnx symlink=dir
src/video/raspberry symlink=dir
src/video/riscos symlink=dir
src/video/uikit symlink=dir
src/video/vita symlink=dir
src/video/vivante symlink=dir
src/video/wayland symlink=dir
src/video/windows symlink=dir
src/video/x11 symlink=dir
src/video/yuv2rgb symlink=dir
